<!-- <h1>Not Authenticated</h1> -->
<h2><a href="/sessions/login">Login</a></h2>
<h2><a href="/users/new">Create An Account</a></h2>

<style>
	body {
		background-repeat: no-repeat;
		background-image: url('/images/pacman.jpg');
		background-size: 100%;
		color: white;
		font-family: Helvetica;
	}

</style>