<h3>Login</h3>

<form action="/sessions" method="post">
  <input class="login" type="text" name="username" placeholder='username'>
  <input class="login" type="password" name="password" placeholder='password'>
  <input id="login" type="submit" value="Login">
</form>
